<p style="color: green"><%= notice %></p>
<br><br>
<%= render @laptop %>
<br>
<div>
  <%= link_to "Edit this laptop", edit_laptop_path(@laptop), class: "btn btn-warning" %> |
  <%= link_to "Back to laptops", laptops_path, class: "btn btn-ghost", style: "background-color: #b8bcbe" %> |
  <%= link_to "Destroy this laptop", @laptop, method: :delete, class: "btn btn-secondary", style: "background-color: #dc3545; color: black" %>
</div>
